@keyframes gradientAnimation {
  0% {
    background-position: 0% 100%;
  }
  25% {
    background-position: 60% 40%;
  }
  50% {
    background-position: 100% 80%;
  }
  75% {
    background-position: 40% 20%;
  }
  100% {
    background-position: 0% 100%;
  }
}

.StripeHomepageHeroGradient {
  animation: gradientAnimation 18s ease-in-out infinite;
  animation-play-state: running;
  width: 100%;
  height: 800px;
  --gradientColorZero: #60a5fa;
  --gradientColorOne: #38bdf8;
  --gradientColorTwo: #14b8a6;
  --gradientColorThree: #bfdbfe;
  --gradientColorZeroTransparent: rgba(96, 165, 250, 0);
  --gradientColorOneTransparent: rgba(56, 189, 248, 0);
  --gradientColorTwoTransparent: rgba(20, 184, 166, 0);
  --gradientColorThreeTransparent: rgba(191, 219, 254, 0);
  position: absolute;
  bottom: 0;
  top: auto;
  left: 0;
  overflow: hidden;
  border: none;

  background:
    radial-gradient(var(--gradientColorThree) 23%, var(--gradientColorThreeTransparent) 67% 100%)
      385px -24px,
    radial-gradient(var(--gradientColorOne) 0, var(--gradientColorOneTransparent) 60% 100%) -940px
      290px,
    radial-gradient(var(--gradientColorTwo) 10%, var(--gradientColorTwoTransparent) 60% 100%) -120px
      250px,
    radial-gradient(var(--gradientColorOne) 40%, var(--gradientColorOneTransparent) 57% 100%)
      495px -44px,
    radial-gradient(var(--gradientColorZero) 30%, var(--gradientColorZeroTransparent) 67% 100%)
      122px -120px,
    radial-gradient(
        var(--gradientColorZero) 10%,
        var(--gradientColorZeroTransparent) 60% 100%
      ) -420px
      120px,
    radial-gradient(var(--gradientColorTwo) 15%, var(--gradientColorTwoTransparent) 50% 100%) -620px
      0,
    radial-gradient(var(--gradientColorTwo) 25%, var(--gradientColorTwoTransparent) 50% 100%)
      520px -250px,
    var(--gradientColorZero);
  background-size: 200% 200%;
  background-repeat: repeat-y;
  will-change: background-position;
}

@media (prefers-reduced-motion: reduce) {
  .StripeHomepageHeroGradient {
    animation: none;
  }
}
